body {
    background: url("../images/background.png");
}

.logoHolder {
    background: rgba(0, 0, 0, 0);
}

.gameHolder {
	background: #1C1515;
	color: #CCCACA;
}

.gameLogo {
    display: inline;
}

#question, #timer {
	display: inline-block;
	border-radius: 15%;
	border-style: solid;
	border-width: 3px;
	padding: 5px;
}

#question {
	display: none;
}

.answer, .correctAnswer  {
	border-radius: 15%;
	border-style: solid;
	border-width: 3px;
	margin: 5px 0 5px 0;
	padding: 5px;
}

.answer:hover {
	background: #B87D51;
}